@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

#container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#c1-container {
  width: 100vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
}

#c2-container {
  width: 100vw;
  height: 80vh;
  position: absolute;
  top: 80vh;
  left: 0;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

p {
  color: rgba(250, 250, 250, 0.3);
  position: absolute;
  top: 0;
  left: 20px;
  font-family: "Roboto", sans-serif;
}

.github {
  &:hover {
    a {
      transform: rotate(45deg) scale(1.05);
    }

    i {
      color: lighten(#ff0005, 20%);
    }
  }

  a {
    top: -40px;
    right: -75px;
    transform: rotate(45deg);
  }

  i {
    top: 7px;
    right: 7px;
    color: #ff0005;
  }
}

.social-icon {
  a {
    position: absolute;
    background: #3d3d3d;
    color: rgb(100, 100, 100);
    box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 150px;
    height: 80px;
    transform-origin: 50% 50%;
    transition: 0.15s ease-out;
  }

  i {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    transition: 0.15s ease-out;
  }
}
